.home {

	.site-container,
	.body-content,
	.site-main,
	.site-main article,
	#home_carousel,
	#home_carousel .carousel-inner,
	#home_carousel .carousel-inner .item {
		@extend .full-height;
		width:100%;
	}

	.site-header {
		margin-bottom:0 !important;
		padding-bottom:0 !important;
	}

	.body-content {
		margin:0;
		padding:0;
	}

	.home-content {
		position:absolute;
		z-index:2;
		color:$white;
		text-align:center;

		top:130px;
		padding: 0 30px;

		@media(min-width:768px) {
			top:180px;
			padding: 0 20%;
		}
		@media(min-width:992px) {
			padding: 0 30%;
		}
		@media(min-width:1200px) {
			padding: 0 30%;
		}
		@media(min-width:1400px) {
			padding: 0 35%;
		}
	}

	#home_carousel {

		position:relative;
		overflow:hidden;
		z-index:1;

		min-height:600px;

		.carousel-inner {

			background-color:transparent;

			.item {
				@extend .full-background;
				/*
				@include vendor-prefix(text-shadow, 0 0 5px $grey);
				*/
			}
		}

		.parallax-page-nav {
			position:absolute;
			bottom:0;
			width:100%;
			z-index:300;
			background-color:$white;

			.parallax-page-nav-inner {
				padding:20px;
				height:90px;
			}
		}

		.carousel-indicators {
			bottom:110px;

			li {
				border: 2px solid $white;
		    border-radius: 15px;
		    height: 15px;
		    width: 15px;
				margin:0;

				&.active {
					background-color: transparent;
					border: 2px solid $blue;
					height: 15px;
			    width: 15px;
					margin:0;
				}
			}

		}

		.section.parallax-separator {
			height:300px;
			@media(min-width:768px) {
				height:400px;
			}
			min-height:0;
			background:url(../img/brand-icon-separator.png) no-repeat center center $blue;
			padding:40px;

			&.parallax-separator-page-nav {
				background:$white;
				height:auto;
				padding:20px;

			}
		}

	}

	.site-footer {
		display:none;
	}

}
